.group {
  position: relative;
}

.group .group-header {
  position: absolute;
  top: -1em;
  left: 10px;
  height: 2em;

  display: block;
  background-color: #fff;
  padding: 0px 5px;
}

.group .group-body {
  border: 1px solid #ddd;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  border-radius: 5px;
  padding: 20px 15px 15px 15px;
  margin: 20px 0px;
}

.clock > .clock-day {
  display: block;
  font-size: 30px;
}

.clock > .clock-time {
  display: block;
  font-size: 30px;
}

.calendar td, .calendar th {
  text-align: right;
  display: table-cell;
}
